<footer class="container" style="
background-color: CORAL;
color: black;
font-size:large;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <div class="row">
        <div class="col-4 text-center">
            <h4 style="text-decoration-line: underline;">About</h4>  
            <sub class="fontsize : 2">
                -family<br>
                -Suggestions<br>
            </sub>
        </div>
        <div class="col-4 text-center">
            <h4 style="text-decoration-line: underline;">Info</h4>  
        <sub>
            -Look Out<br>
            -News<br>
        </sub>
        
        </div>
        <div class="col-4 text-center">
           <h4 style="text-decoration-line: underline;">Help</h4>
            <sub>
                -Complain<br>
                -How to....?<br>
                -carrers<br>
            </sub>
          </div>
    </div>
</footer>