
.btn{
padding: 10px;
width: 20vw;
background-color:coral;
align-items: center;
}

.container{
        background-image: url("../../../../assets/bg-image.png");
    overflow: hidden;
    position: cover;
}