
<div class="container" style="margin-top: 2vh;position:fluid;">

<input type="text" [formControl]="userid"  id="userid" placeholder="userid" style="margin-top: 20vh; margin-left:5vw;border:5px ;width: 20vw;height: 10vh;border-radius: 5px;"><br>

<input type="text" [formControl]="password"  id="password" placeholder="password" style="margin-top: 5vh;margin-left: 5vw; border: 5px;width: 20vw;height: 10vh;border-radius: 5px;"><br>

<button class="btn" type="submit"  (click)="validate()"  style="margin-bottom: 10vh;margin-left: 5vw;margin-top: 10vh;">SIGN IN</button>

</div>